<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sample Page</title>
</head>
<body>
    <div class="header">
        @Html.Sitecore().Placeholder("Header")
    </div>

    <div class="Body">
        @Html.Sitecore().Placeholder("Body")

    </div>

    <div class="footer">
        @Html.Sitecore().Placeholder("Footer")
    </div>
</body>
</html>